.nav {
  order: 1;

  &__list{
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__item{
    &:not(:first-child){
      margin-left: 60px;
      @media (max-width: (1700px)) {
        margin-left: 30px;
      }

    }

  }
  &__link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--white);

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }
  }


  @media (max-width:1700px) {
    width: 715px;
  }

  @include high-desctop{
    display: none;
  }
}

.leng-toggle{
  padding: 20px 0;
  display: none;
  border-bottom: 1px solid rgba(86, 86, 86, 0.2);

  &__item{
    padding: 0 10px;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: var(--black);

    &:first-child{
      border-right: 1px solid var(--black);
      padding-left: 0;
    }
  }
  @include mobile{
    display: flex;
  }

}

