<section class="about section-padding item">
  <div class="about__container container">
    <div class="about__left">
      <h2 class="about__subtitle subtitle" data-lang="about__subtitle">Ми вместе</h2>
    </div>
    <ul class="about__grid grid">
       <li class="about__item list-reset">
         <span class="about__qwontety">
          600+
         </span>
        <p class="about__descr" data-lang="about__descr-1">
          IT экспертов
        </p>
       </li>
       <li class="about__item list-reset">
        <span class="about__qwontety">
          18+
         </span>
        <p class="about__descr" data-lang="about__descr-2">
          лет опыта
        </p>
       </li>
       <li class="about__item list-reset">
        <span class="about__qwontety">
          40+
         </span>
        <p class="about__descr" data-lang="about__descr-3">
          технологических направлений
        </p>
       </li>
       <li class="about__item list-reset">
        <span class="about__qwontety">
          400+
         </span>
        <p class="about__descr" data-lang="about__descr-4">
          реализованных проектов
        </p>
       </li>
    </ul>
  </div>
</section>
