<section class="cases section-padding item">
  <div class="cases__container container">
    <h2 class="cases__subtitle subtitle">
      Кейсы
    </h2>
    <div class="cases__grid grid">
      <button class="cases__btn btn-rounded btn-reset btn-primary">управление данными</button>
      <div class="cases__descr">
        Внедрение корпоративной платформы данных
      </div>
      <p class="cases__text">
        How DODUS X&rsquo;s New Solution Revolutionizes Approaches in&nbsp;the DTEK Business Ecosystem
      </p>
      <div class="cases__logo">
        <svg class="cases__icon cases__icon--dtek">
          <use xlink:href="img/sprite.svg#dtek"></use>
        </svg>
      </div>
      <div class="cases__image">
        <img src="../img/pic1.png" width="250" height="250" alt="Логотип клиента Logo Ipsum" class="cases__img">
      </div>
      <a href="#" class="cases__link link link--pink">Смотреть кейс</a>
    </div>
    <div class="cases__grid grid">
      <button class="cases__btn btn-rounded btn-reset btn-primary">Бизнес-приложения</button>
      <div class="cases__descr">
        Автоматизация процесса управления задолженностями
      </div>
      <p class="cases__text">
        How DODUS X&nbsp;Automated Processes with Microsoft Power Platform for D.Solutions
      </p>
      <div class="cases__logo">
        <svg class="cases__icon cases__icon--mvideo">
          <use xlink:href="img/sprite.svg#mvideo"></use>
        </svg>
      </div>
      <div class="cases__image">
        <img src="../img/pic2.png" width="250" height="250" alt="Логотип клиента Logo Ipsum" class="cases__img">
      </div>
      <a href="#" class="cases__link link link--pink">Смотреть кейс</a>
    </div>
    <div class="cases__grid grid">
      <button class="cases__btn btn-rounded btn-reset btn-primary">SPA</button>
      <div class="cases__descr">
        Оптимизация расчётов и&nbsp;отношений с&nbsp;клиентами
      </div>
      <p class="cases__text">
        Цифровая трансформация оператора системы распределения: чего ожидать клиентам? Кейс DODUS X&nbsp;для электросети
      </p>
      <div class="cases__logo">
        <svg class="cases__icon cases__icon--avion">
          <use xlink:href="img/sprite.svg#avion"></use>
        </svg>
      </div>
      <div class="cases__image">
        <img src="../img/pic3.png" width="250" height="250" alt="Логотип клиента Logo Ipsum" class="cases__img">
      </div>
      <a href="#" class="cases__link link link--pink">Смотреть кейс</a>
    </div>
    <button class="cases__button btn btn-reset btn-primary">
      Посмотреть все
    </button>
  </div>
</section>
