<section class="clients section-padding-bottom item">
  <div class="clients__cover">
    <div class="clients__container container">
      <div class="clients__slider">
        <div class="clients__brends">
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients1.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients2.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients3.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients4.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients5.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients6.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients7.svg" alt="Логоти клиета">
          </div>
          <div class="clients__item">
            <img class="clients__image" src="../img/logo-clients8.svg" alt="Логоти клиета">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
