<footer class="footer section-padding item">
  <div class="futer__container container">
    <div class="footer__grid grid">
      <div class="footer__column social-column">
        <ul class="footer__list  list-reset">
          <li class="footer__item "><a class="footer__link social-link" href="#">Linkedin</a></li>
          <li class="footer__item "><a class="footer__link social-link" href="#">Facebook</a></li>
          <li class="footer__item "><a class="footer__link social-link" href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="footer__column examination-column">
        <h3 class="footer__subtitle" data-lang="footer__subtitle-1">Экспертизы</h3>
        <ul class="footer__list   list-reset">
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-1" href="#">Бизнес-приложения</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-2" href="#">Программная инженерия</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-3" href="#">Управление данными и ИИ</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-4" href="#">Кибербезопасность</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-5" href="#">Услуги SAP</a></li>
        </ul>
      </div>
      <div class="footer__column company-column">
        <h3 class="footer__subtitle" data-lang="footer__subtitle-2">Коипания</h3>
        <ul class="footer__list  list-reset">
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-6" href="#">О компании</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-7" href="#">ESG</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-8" href="#">Карьера</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-9" href="#">Вакансии</a></li>
        </ul>
      </div>

      <div class="footer__column contacts-column">
        <ul class="footer__list  list-reset">
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-10" href="#">Кейсы</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-11" href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="footer__column media-column">
        <h3 class="footer__subtitle" data-lang="footer__subtitle-3">Медиацентр</h3>
        <ul class="footer__list  list-reset">
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-12" href="#">Новости</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-13" href="#">Блог</a></li>
          <li class="footer__item "><a class="footer__link" data-lang="footer__link-14" href="#">Мероприятия</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">&copy;copyright</p>
      <p class="footer__botom-text" data-lang="footer__p-1">Политика конфиденциальности</p>
     </div>
  </div>
</footer>
