<section class="hero item">
  <div class="container hero__container">
    <div class="swiper swiper__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__text">
            <p class="hero__descr" data-lang="slider__text-1"></p>
              <a href="#" class="hero__link link link--yellow " data-lang="slider__link-1"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__text">
            <p class="hero__descr" data-lang="slider__text-2">
              Отразили около 27,5
              миллионов попыток кибератак
              в&nbsp;2023&nbsp;году.
            </p>
            <a href="#" class="hero__link link link--yellow" data-lang="slider__link-2"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__text">
            <p class="hero__descr" data-lang="slider__text-3">
              Развернули и поддерживаем одну из крупнейших гибридных облаков в&nbsp;Белоруссии
            </p>
            <a href="#" class="hero__link link link--yellow" data-lang="slider__link-3"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__text">
            <p class="hero__descr" data-lang="slider__text-4">
              Наши роботы инспектируют состояние электросетей.
            </p>
            <a href="#" class="hero__link link link--yellow" data-lang="slider__link-4">Наши роботы инспектируют состояние электросетей. </a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


