<section class="insites section-padding item">
  <div class="insites__container container">
    <div class="insites__top">
      <h2 class="insites__subtitle subtitle" data-lang="insites__subtitle-1">
        Инсайты от наших клиентов
      </h2>
      <button class="insites__button btn-reset btn btn-primary" data-lang="insites__button-primary-1">Перейти в блог</button>
    </div>
    <div class="insites__bottom">
      <div class="insites__post">
        <div class="insites__content">
          <div class="insites__inf">
            <svg class="">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
            <div class="insites__details">
              <span class="insites__label" data-lang="insites__label-1">Блог</span>
              <span class="insites__date" data-lang="insites__date-1">Nov 22</span>
              <span class="insites__separator">&#x2223;</span>
              <span class="insites__reading-time" data-lang="insites__reading-time-1">4 min read</span>
            </div>
            <p class="insites__text" data-lang="insites__text-1">
              How Not To&nbsp;Screw Up&nbsp;a&nbsp;Product: 7&nbsp;Sins of&nbsp;a&nbsp;Product Manager
            </p>
          </div>
          <p class="insites__desct" data-lang="insites__desct-1">
            It&rsquo;s no&nbsp;secret that digital products are driven by&nbsp;product managers. We&nbsp;asked our Head
            of&nbsp;Product Management Lev Kuzmin about the secrets of&nbsp;creating and managing digital products,
            as&nbsp;well as&nbsp;the main &lsquo;sins&rsquo; to&nbsp;avoid when creating them.
          </p>
          <button class="insites__btn btn-rounded btn-primary" data-lang="btn-rounded-primary-1">Смотреть больше</button>
        </div>
        <picture>
          <source media="(max-width: 375px)" srcset="../img/inside-mob.jpg">
          <source media="(max-width: 768px)" srcset="../img/insite0_5.jpg">
          <!-- <source media="(max-width: 1560px)" srcset="../img/insite0_5.jpg"> -->
          <img  class="insites__pic" src="../img//insite1.jpg" srcset="../img/insite1_2x.jpg" width="600" height="600" alt="">
        </picture>
      </div>
      <div class="insites__related-posts">
        <div class="insites__item">
          <div class="insites__details">
            <span class="insites__label" data-lang="insites__label-2">Блог</span>
            <span class="insites__date" data-lang="insites__date-2">Nov 22</span>
            <span class="insites__separator">&#x2223;</span>
            <span class="insites__reading-time" data-lang="insites__reading-time-2">4 min read</span>
          </div>
          <p class="insites__item-text" data-lang="insites__item-text-1">
            Exploring AI-capabilities in Microsoft 365 | How to use Copilot in PowerPoint
          </p>
          <button class="insites__btn btn-rounded btn-primary" data-lang="btn-rounded-primary-2">Смотреть больше</button>
        </div>
        <div class="insites__item">
          <div class="insites__details">
            <span class="insites__label" data-lang="insites__label-3">Блог</span>
            <span class="insites__date" data-lang="insites__date-3">Nov 22</span>
            <span class="insites__separator">&#x2223;</span>
            <span class="insites__reading-time" data-lang="insites__reading-time-3">4 min read</span>
          </div>
          <p class="insites__item-text" data-lang="insites__item-text-2">
            Exploring AI-capabilities in&nbsp;Microsoft 365&nbsp;| How to&nbsp;use Copilot in&nbsp;PowerPoint
          </p>
          <button class="insites__btn btn-rounded btn-primary" data-lang="btn-rounded-primary-3">Смотреть больше</button>
        </div>
      </div>
    </div>
  </div>
</section>
