<div class="mobile-menu" title="mobile menu" data-menu>
  <nav class="mobile-nav" >
    <div class="mobile-nav__container container">
      <ul class="mobile-nav__list list-reset">
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-menu-item data-lang="mobile-nav__link-1">Сервис</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-scroll data-menu-item data-lang="mobile-nav__link-2">Компания</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-scroll data-menu-item data-lang="mobile-nav__link-3">Кейсы</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-scroll data-menu-item data-lang="mobile-nav__link-4">Медиацентр</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-scroll data-menu-item data-lang="mobile-nav__link-5">Каръера</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#" class="mobile-nav__link" data-scroll data-menu-item data-lang="mobile-nav__link-6">Контакты</a>
        </li>
      </ul>
      <button class="btn mobile-nav__btn btn-reset btn-secondary" data-lang="mobile-nav__btn-1">Связаться</button>
    </div>
  </nav>
</div>
