<div class="graph-modal">
  <div class="graph-modal__container" aria-labelledby="modal-title" role="dialog" aria-modal="true"
    data-graph-target="header-search" aria-describedby="modal-description">
    <h2 id="modal-title" class="visually-hidden">Поиск</h2>
    <p id="modal-description">Введите запрос для поиска по сайту.</p>
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <input class="graph-modal__input input-reset" placeholder="Search" type="search"  aria-label="Поле поиска">
    </div>
  </div>
</div>
