<section class="news section-padding item">
  <div class="news__container container">
    <div class="news__top">
      <h2 class="news__subtitle subtitle" data-lang="news__subtitle-1">
        Новости
      </h2>
      <button class="news__button btn-reset btn btn-black" data-lang="news__button-black-1">Читать новини</button>
    </div>
    <div class="news__bottom">
      <div class="news__related-posts">
        <div class="news__item">
          <div class="news__details">
            <span class="news__label" data-lang="news__label-1">Блог</span>
            <span class="news__date" data-lang="news__date-1">Nov 22</span>
            <span class="news__separator">&#x2223;</span>
            <span class="news__reading-time" data-lang="news__reading-time-1">4 min read</span>
          </div>
          <p class="news__item-text" data-lang="news__item-text-1">
            DODUS X&nbsp;Joins SAP PartnerEdge Sell Program
          </p>
          <button class="news__btn btn-rounded btn-black" data-lang="news__btn-rounded-1">Смотреть больше</button>
        </div>
        <div class="news__item">
          <div class="news__details">
            <span class="news__label" data-lang="news__label-2">Блог</span>
            <span class="news__date" data-lang="news__date-2">Nov 22</span>
            <span class="news__separator">&#x2223;</span>
            <span class="news__reading-time" data-lang="news__reading-time-2">4 min read</span>
          </div>
          <p class="news__item-text" data-lang="news__item-text-2">
            Engineering: How Our Team Integrates Advanced Technologies into the Company&rsquo;s Processes
          </p>
          <button class="news__btn btn-rounded btn-black" data-lang="news__btn-rounded-2">Смотреть больше</button>
        </div>
      </div>
      <div class="news__post">
        <div class="news__content">
          <div class="news__inf">
            <svg class="">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
            <div class="news__details">
              <span class="news__label" data-lang="news__label-3">Блог</span>
              <span class="news__date" data-lang="news__date-3">Nov 22</span>
              <span class="news__separator">&#x2223;</span>
              <span class="news__reading-time" data-lang="news__reading-time-3">4 min read</span>
            </div>
            <p class="news__text" data-lang="news__text-3">
              Forecasting model for solar and wind power: a&nbsp;solution for accurate renewable energy predictions.
            </p>
          </div>
          <p class="news__desct" data-lang="news__desct-1">
            It&rsquo;s no&nbsp;secret that digital products are driven by&nbsp;product managers. We&nbsp;asked our Head
            of&nbsp;Product Management Lev Kuzmin about the secrets of&nbsp;creating and managing digital products,
            as&nbsp;well as&nbsp;the main &lsquo;sins&rsquo; to&nbsp;avoid when creating them.
          </p>
          <button class="news__btn btn-rounded btn-black" data-lang="news__btn-rounded-3">Смотреть больше</button>
        </div>
        <picture>
          <source media="(max-width: 375px)" srcset="../img/news1-mobile.jpg">
          <source media="(max-width: 768px)" srcset="../img/news1-05x.jpg">
          <img  class="news__pic" src="../img/news1.jpg" srcset="../img/news1_2x.jpg" width="600" height="600" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
