<section class="reviews section-padding item">
  <div class="reviews__container container">
    <button class="next-slide btn-reset">
      <img src="../img/arrow-right.svg" alt="Стрелка вправо для переключения слайдов">
    </button>
    <h2 class="reviews__subtitle subtitle" data-lang="reviews__subtitle">
      Клиенты о нас
    </h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="reviews__item">
            <svg class="reviews__icon">
              <use xlink:href="img/sprite.svg#dtek"></use>
              </svg>
              <div class="reviews__img">
                <picture>
                  <source media="(max-width: 768px)" srcset="./img/client05_1.jpg, ./client05_1_2x.jpg">
                  <img class="reviews__pic" src="./img/client05_1.jpg" srcset="./img/client1_2x.jpg" width="692" height="947">
                </picture>
              </div>
            <div class="reviews__content reviews__content--bg-dt">
              <div class="reviews__descr" data-lang="reviews__descr-sl-1">
                Dodus X&nbsp;&mdash; это настоящие профессионалы, которые знают своё дело!
              </div>
              <p class="reviews__text" data-lang="reviews__text-sl-1">
                Команда работает быстро, качественно и&nbsp;с&nbsp;невероятным вниманием к&nbsp;деталям. Особенно впечатлило, как оперативно решаются любые вопросы и&nbsp;предоставляются рекомендации.
              </p>
              <div class="reviews__client" data-lang="reviews__client-sl-1">
                CEO Dtek
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__item">
            <svg class="reviews__icon icon-mv">
              <use xlink:href="img/sprite.svg#mvideo"></use>
            </svg>
            <div class="reviews__img">
              <picture>
                <source media="(max-width: 768px)" srcset="./img/client2_05.jpg" type="image/webp">
                <img class="reviews__pic" src="./img/client2.jpg" srcset="./img/client2_2x.jpg" width="692" height="947">
              </picture>
            </div>
            <div class="reviews__content reviews__content--bg-mv">
              <div class="reviews__descr" data-lang="reviews__descr-sl-2">
                Dodus X&nbsp;&mdash; команда профессионалов, добивающихся выдающихся результатов!
              </div>
              <p class="reviews__text" data-lang="reviews__text-sl-2">
                Команда работает быстро, качественно и&nbsp;с&nbsp;невероятным вниманием к&nbsp;деталям. Особенно впечатлило, как оперативно решаются любые вопросы и&nbsp;предоставляются рекомендации.
              </p>
              <div class="reviews__client" data-lang="reviews__client-sl-2">
                CEO M-video
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__item">
            <svg class="reviews__icon">
              <use xlink:href="img/sprite.svg#avion"></use>
            </svg>
            <div class="reviews__img">
              <picture>
                <source media="(max-width: 768px)" srcset="../img/client3_05x.jpg">
                <img class="reviews__pic" src="../img/client3.jpg" srcset="../img/client3_2x.jpg" width="692" height="947">
              </picture>
            </div>
            <div class="reviews__content reviews__content--bg-av">
              <div class="reviews__descr" data-lang="reviews__descr-sl-3">
                Dodus X&nbsp;&mdash; команда экспертов, всегда достигающих отличных результатов!
              </div>
              <p class="reviews__text" data-lang="reviews__text-sl-3">
                Команда Dоdus X&nbsp;работает оперативно, профессионально и&nbsp;с&nbsp;безупречным вниманием к&nbsp;деталям. Особенно впечатляет их&nbsp;умение быстро находить решения и&nbsp;предлагать полезные рекомендации.
              </p>
              <div class="reviews__client" data-lang="reviews__client-sl-3">
                CEO AV
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


