<section class="services section-padding item">
  <div class="services__container container">
    <div class="services__left">
      <h2 class="services__left-subtitle subtitle" data-lang="services__left-subtitle-1">
        Сервисы
      </h2>
    </div>
    <div class="services__right">
      <div class="swiper swiper__servieces">
        <div class="swiper-wrapper">

          <div class="swiper-slide swiper-slide--primary">
            <h2 class="services__right-subtitle" data-lang="services__subtitle-primary">
              Деловые приложения
            </h2>
            <p class="services__descr" data-lang="services__descr-primary">
              Внедряем бизнес-решения локальных и глобальных вендоров. Помогаем адаптировать технологии RPA, Low-Code и No-Code для вашего бизнеса.
            </p>
            <a href="#" class="services__link link link--pink" data-lang="services__link-primary">
              Подробнее о сервисе
            </a>
            <div class="services__buttons">
              <button class="services__btn btn-rounded btn-reset btn-primary" aria-label="автоматизация процессов" data-lang="btn-primary-1">автоматизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-primary" aria-label="роботизация процессов" data-lang="btn-primary-2">роботизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-primary" aria-label="управление контентом"data-lang="btn-primary-3">управление контентом</button>
            </div>
          </div>

          <div class="swiper-slide swiper-slide--blue">
            <h2 class="services__right-subtitle" data-lang="services__subtitle-blue">
              Деловые приложения
            </h2>
            <p class="services__descr" data-lang="services__descr-blue">
              Внедряем бизнес-решения локальных и глобальных вендоров. Помогаем адаптировать технологии RPA, Low-Code и No-Code для вашего бизнеса.
            </p>
            <a href="#" class="services__link link link--pink" data-lang="services__link-blue">
              Подробнее о сервисе
            </a>
            <div class="services__buttons">
              <button class="services__btn btn-rounded btn-reset btn-blue" aria-label="автоматизация процессов" data-lang="btn-blue-1">автоматизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-blue" aria-label="роботизация процессов" data-lang="btn-blue-2">роботизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-blue" aria-label="управление контентом" data-lang="btn-blue-3">управление контентом</button>
            </div>
          </div>

          <div class="swiper-slide swiper-slide--orange">
            <h2 class="services__right-subtitle"  data-lang="services__subtitle-orange">
              Деловые приложения
            </h2>
            <p class="services__descr" data-lang="services__descr-orange">
              Внедряем бизнес-решения локальных и глобальных вендоров. Помогаем адаптировать технологии RPA, Low-Code и No-Code для вашего бизнеса.
            </p>
            <a href="#" class="services__link link link--pink" data-lang="services__link-orange">
              Подробнее о сервисе
            </a>
            <div class="services__buttons">
              <button class="services__btn btn-rounded btn-reset btn-orange" aria-label="автоматизация процессов" data-lang="btn-orange-1">автоматизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-orange" aria-label="роботизация процессов" data-lang="btn-orange-2">роботизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-orange" aria-label="управление контентом" data-lang="btn-orange-3">управление контентом</button>
            </div>
          </div>

          <div class="swiper-slide swiper-slide--green">
            <h2 class="services__right-subtitle" data-lang="services__subtitle-green">
              Деловые приложения
            </h2>
            <p class="services__descr" data-lang="services__descr-green">
              Внедряем бизнес-решения локальных и глобальных вендоров. Помогаем адаптировать технологии RPA, Low-Code и No-Code для вашего бизнеса.
            </p>
            <a href="#" class="services__link link link--pink" data-lang="services__link-green">
              Подробнее о сервисе
            </a>
            <div class="services__buttons">
              <button class="services__btn btn-rounded btn-reset btn-green" aria-label="автоматизация процессов" data-lang="btn-green-1">автоматизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-green" aria-label="роботизация процессов" data-lang="btn-green-2">роботизация процессов</button>
              <button class="services__btn btn-rounded btn-reset btn-green" aria-label="управление контентом" data-lang="btn-green-3">управление контентом</button>
            </div>
          </div>

            <div class="swiper-slide swiper-slide--violet">
              <h2 class="services__right-subtitle" data-lang="services__subtitle-violet">
                Деловые приложения
              </h2>
              <p class="services__descr" data-lang="services__descr-violet">
                Внедряем бизнес-решения локальных и глобальных вендоров. Помогаем адаптировать технологии RPA, Low-Code и No-Code для вашего бизнеса.
              </p>
              <a href="#" class="services__link link link--pink" data-lang="services__link-violet">
                Подробнее о сервисе
              </a>
              <div class="services__buttons">
                <button class="services__btn btn-rounded btn-reset btn-violet" aria-label="автоматизация процессов" data-lang="btn-violet-1">автоматизация процессов</button>
                <button class="services__btn btn-rounded btn-reset btn-violet" aria-label="роботизация процессов" data-lang="btn-violet-2">роботизация процессов</button>
                <button class="services__btn btn-rounded btn-reset btn-violet" aria-label="управление контентом" data-lang="btn-violet-3">управление контентом</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>


