<section class="sponsors section-padding item">
  <div class="sponsors__content">
    <div class="sponsors__container container">
        <div class="sponsors__item">
          <img class="sponsors__img" src="../img/sponsors1.svg" aria-hidden="true">
        </div>
        <div class="sponsors__item">
          <img class="sponsors__img" src="../img/sponsors2.svg" aria-hidden="true">
        </div>
        <div class="sponsors__item">
          <img class="sponsors__img" src="../img/sponsors3.svg" aria-hidden="true">
        </div>
        <div class="sponsors__item">
          <img class="sponsors__img" src="../img/sponsors4.svg" aria-hidden="true">
        </div>
        <div class="sponsors__item">
          <img class="sponsors__img" src="../img/sponsors5.svg" aria-hidden="true">
        </div>
        <h2 class="sponsors__subtitle">
          Партнеры:
        </h2>
    </div>
  </div>
</section>
